
*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}
html{
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
}
.contenedor-img-practicando{
    display: flex;
    justify-content: center;
    max-width: 80%;
    height: 320px;    
    margin: 0 auto;  
}
/*efecto al contenedor de la imagen*/
.contenedor-img-practicando:hover img{
   filter: brightness(1);
   transition: all 2s;
   transform: scale(1.005);
}
.contenedor-img-practicando img{
    width: 79vw;
    min-height: 150px; 
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    filter: brightness(.5);/*oscurece la imagen*/    
} 
/*  nav  */
#lista-ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 79%;
    max-height: 150px;
    list-style: none;
    margin:auto;
    background-color: orangered;    
}
li{
    min-height: 45px;
    margin:auto;    
}
li a{
    text-decoration: none; 
    font-size: 2rem;
    color: #432371;   
}
a:hover{
    color: white;
    transition: 2s;
}
/*Class contenedor-div*/
.contenedor-div{
    display: flex;
    flex-shrink: 1;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto ;
    max-width: 79%;
    height: 200px;
    background-color: chocolate;       
}
.izq{
    display: flex;
    flex-wrap: wrap;
    min-width: auto;
    min-height: 80px;
    background-color:rgb(131, 117, 117);
    border: 1px solid black;
    margin: 0 .5rem;   
}
.derecha > iframe{
    flex-basis: auto;
    min-width: 100px;
    min-height: 20px;
    margin: 1rem ;
}
.centro{
    width: 50px;
    min-height: 100%;
    background-color: whitesmoke;
    border: 0px double orangered; 
    padding: 1rem;   
}
.derecha{
    display: flex;
    align-items: center;
    width:80%;
    max-width:610px;
    text-align:justify;
    text-indent: 4rem;
    padding:0 .5rem;
    height: 350px;  
                
}
.derecha #texto-fila1{    
   font-size: clamp(.6rem, .5rem, .4rem);
    vertical-align: bottom; 
    max-height:80%;  
    margin: auto; 
    padding-top: 1.5rem;
}
.derecha2{
    display: flex;
    align-items: center;
    width:80%;
    max-width:590px;
    text-align: justify;
    text-indent: 4rem;
    padding:0 .5rem;
    height: 350px;            
}   
.derecha2 #texto-fila2{    
    font-size: clamp(.6rem,.8rem, .3rem);
    vertical-align: bottom; 
    max-height:80%;  
    margin: auto; 
    padding-top: 1.5rem;
}
.contenedor-div2{
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 1;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto ;
    max-width: 79%;
    height: 200px;
    background-color: orangered; 
}
.centro2{
    width: 60px;
    min-height: 100%;
    background-color: whitesmoke;
    border: 0px double orangered;    
}
.tabla-tus-datos{
    display: flex;
    justify-content: center;
    width:79vw;
    background-color: orangered;    
    margin: auto;
    color: #432371;
    border: 1   px solid whitesmoke;
}
.tabla-tus-datos span{
    height: 40px;
    font-size: clamp(14px, 2rem, 24px);

    text-align: center;
}
table{
    width:79vw;   
    margin: auto;
    border: 1px solid black;
    font-size: clamp(.7px, .6rem, 12px);
    border-collapse: collapse;
}
