
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
}
.contenedor-img-practicando{
    display: flex;
    justify-content: center;
    max-width: 80%;
    height: auto;    
    margin: 0 auto;
    
}
.contenedor-img-practicando img{
    width: 80vw;
    min-height: 150px;  
    object-fit: cover; 
} 
/*  nav  */
#lista-ul{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 150px;
    list-style: none;
    margin:auto;
    background-color: orangered;
}
li{
    font-size: 1.5rem;   
    font-weight:700px;
    min-height: 50px;
    padding-top: .5rem;
}
ul a{
    text-decoration: none; 

}
a:hover{
    color: white;
    transition: 2s;
}
